/* Estilos del formulario base */
.container{
  padding: 40px 0;
  }
  .ingreso {
      /*margin: 1em;*/
      padding: 2em;
    
      border-radius: 0.5em;
    
      font-size: normal;
    }
  .card-body {
    background-color: #8C52FF!important;
  
  }
    /* Estilos de las etiquetas */
    .ingreso > label {
      display: flex;
      flex-direction: column;
      color:#fff;
      width: 100%;
      align-items: flex-start;
      font-weight: bold;
    
    }

    .ingreso .alert {
  
      font-weight: bold;
      font-size: 8pt;
    }

    /* Estilos de los campos de texto */
    .ingreso > label > input {
      width: 100%;
      margin: 0.25em 0;
      padding: 0.5em;
      color: #222;
      font-size: 12pt;
    
      border-radius: 0.25em;
    }
    
    /* Estilos de los botones */
    .ingreso__ingresar {
      width: 200px;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      padding: 0.5em;
    
      cursor: pointer;
    }
    /*checkbox size*/
    checkbox {
      width: 20px;
      height: 20px;
    }
    
    /* Estilo del mensaje de error */
    .ingreso__error {
      color: white;
      background-color: red;
      font-size: medium;
      border-radius: 0.25em;
    }
    
    /* Estilo del mensaje de éxito */
    .ingreso__success {
      color: white;
      background-color: green;
      font-size: medium;
      border-radius: 0.25em;
    }